/* これ、不要な気がする */
html
{
    height  : 100%;
    margin  : 0px;
    padding : 0px;
}

body
{
    top     : 0px;
    bottom  : 0px;
    margin  : 0px;
    padding : 0px;
}

#div_sidemenu
{
    position : absolute;
    width    : 140px;
    top      : 0px;
    left     : 0px;
    margin   : 0px;
    padding  : 5px;
}

#div_main
{
    position : absolute;
    top      : 0px;
    left     : 140px;
    right    : 0px;
    bottom   : 0px;
    margin   : 0px;
    padding  : 0px;
}


#div_shared_selects
{
    position : absolute;
    top      : 0px;
    left     : 0px;
    right    : 0px;
    height   : 55px;
    margin   : 0px;
    padding  : 3px;
}
/*    height   : 55px;*/
#div_panel
{
    position : absolute;
    top      : 55px;
    left     : 0px;
    right    : 0px;
    bottom   : 0px;
    margin   : 0px;
    padding  : 3px;
}

.child_panel
{
    position : absolute;
    margin   : 0px;
    border-style : solid;
    background-color: #DDDDDD;
}


.div_controller
{
    margin  : 0px;
    padding : 0px 0px 3px 0px;
}

.div_imgs
{
    margin  : 0px;
    padding : 0px;
}

